body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.top-bar {
    background-color: #321771;
}
.navbar {
    background-color: #ffffff;
}
.navbar-brand, .nav-link {
    color: #4d085c !important;
}
.nav-link:hover {
    color: #ac3d3d !important;
}
.card {
    background-color: #ffffff;
}
.card-title {
    color: #4d085c;
}
.card-text {
    color: #6c757d;
}


section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

section:nth-of-type(odd) {
    background-color: #f9f9f9;
}

section:nth-of-type(even) {
    background-color: #ffffff;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

section p {
    font-size: 1rem;
    color: #666;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}
